@import "tailwindcss";

/* Fonts */

@theme {
  --font-caveat: var(--font-caveat), cursive;
  --font-bricolage: var(--font-bricolage_Grotesque);
  --font-bowly: var(--font-bowly);
}

@layer components {
  .nav_link {
    @apply text-gray-400 hover:text-white transform-cpu transition-transform duration-300 ease-in-out hover:-translate-y-2 py-2;
  }
}
